<ng-container *transloco="let t">
<div>
    <div class="offers-tools">
        <mat-slide-toggle [(ngModel)]="onlymatched" (change)="applyCurrentFilters()">{{t('Only matched')}}</mat-slide-toggle>
        <span class="toolbar-spacer"></span>
        <button mat-raised-button
            *ngIf="connected && !mobileQuery.matches"
            (click)="getoffers()">
            {{t('Reload')}}
        </button>
        <button mat-icon-button
            *ngIf="connected && mobileQuery.matches"
            (click)="getoffers()">
            <mat-icon>refresh</mat-icon>
        </button>
    </div>
    <div class="offer alt-rows" *ngFor="let offer of filteredOffers">
        <input #bidstage type="hidden" [value]="getBidStage(offer)"/>
        <div class="offer-header">
            <div class="left-offer-info">{{offer.info.nickname}} : {{offer.info.location}}</div>
            <div class="right-offer-info" *ngIf="!!userInfo.offerId">
                <button mat-button title="{{t('Recall Bid from Offer')}}"
                    *ngIf="bidstage.value === 'wait' || bidstage.value === 'message'" color="warn"
                    (click)="bidpull(offer)">{{t('Pull Bid')}}</button>
                <button mat-button title="{{t('Bid on Offer')}}" color="accent"
                    *ngIf="bidstage.value === 'bid'"
                    (click)="bidpush(offer)">{{t('Push Bid')}}</button>
                <button mat-button title="{{t('Accept Inbound Bid')}}" color="accent"
                    *ngIf="bidstage.value === 'accept'"
                    (click)="bidpush(offer)">{{t('Accept Bid')}}</button>
                <button mat-button title="{{t('Send Message')}}"
                    color="{{ offer.connectionId.length ? 'accent' : '' }}"
                    *ngIf="bidstage.value === 'message'"
                    (click)="openChatDialog(offer)">{{t('Chat')}}</button>
                <mat-icon title="Accept pending"
                    *ngIf="bidstage.value === 'wait'">schedule</mat-icon>
                <mat-icon title="{{ t(offer.connectionId.length ? 'Online' : 'Offline') }}"
                    matBadge="!" matBadgeColor="warn" matBadgeHidden="{{!showBadge(offer)}}"
                    color="{{ offer.connectionId.length ? 'accent' : '' }}">wifi</mat-icon>
            </div>
        </div>
        <div *ngFor="let item of offer.items" class="offer-item">
            <div class="trade-items">
                <app-tradeitem [itemid]="item.sid" [quantity]="item.supply" [demand]="false"
                    color="{{checkMatch(item, false) ? 'accent' :'primary'}}"
                    class="trade-item-suply">
                </app-tradeitem>
                <app-tradeitem [itemid]="item.did" [quantity]="item.demand"
                    color="{{checkMatch(item, true) ? 'accent' :'primary'}}"
                    class="trade-item-demand">
                </app-tradeitem>
            </div>
        </div>
    </div>
</div>
</ng-container>