.offers-tools {
    display: flex;
    justify-items: stretch;
    align-items: center;
    padding: 8px 0;
}
.offer {
    margin: 0 -24px;
    padding: 8px 24px;
    &.alt-rows:nth-child(even) {
        background-color: rgba($color: #000000, $alpha: .1);
    }
    .offer-header {
        .mat-button {
            padding: 0 8px;
            min-width: 0;
        }
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        // offerer info + offer actions
        .left-offer-info {
            display: flex;
            align-items: center;
            overflow-wrap: anywhere;
            justify-content: space-between;

        }
        .right-offer-info {
            display: flex;
            align-items: center;
            flex-grow: 1;
            justify-content: flex-end;
            >mat-icon {
                margin: 0 8px;
            }
        }
    }
    .offer-item {
        border: 1px solid;
        border-radius: 5px;
        padding-left: 8px;
        margin: 8px 0;

        display: flex;
        .trade-items {
            display: flex;
            flex-grow: 1;
            @media screen and (max-width: 600px) {
                flex-direction: column;
            }
            app-tradeitem {
                display: flex;
                align-items: center;
                @media screen and (min-width: 601px) {
                    flex: 1;
                    &.trade-item-suply {
                        margin-right: 24px;
                    }
                }
            }
        }
        .settings {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    }
}