.offers-header {
    display: flex;
    margin: 8px;
    padding: 8px;
    .left-header, .right-header {
        span {
            text-align: center;
        }
        display: flex;
        flex-wrap: wrap;
        flex: 1;
    }
    .settings {
        width: 60px;
    }
    .left-header {
        flex-direction: row-reverse;
    }
    .right-header {
        flex-direction: row;
    }
}
.offer {
    border-radius: 5px;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    margin: 8px;
    .offer-header {
        display: flex;
        flex-flow: row;
        .left-offer-info, .right-offer-info {
            flex: 1;
            line-height: 14px;
            height: 14px;
            margin: 8px 0px;
            padding: 8px 8px;
        }
        .left-offer-info {
            color: azure;
            width: 200px;
        }
        .right-offer-info {
            width: 150px;
            color: lightgreen;
            text-align: right;
        }
    }
    .offer-items {
        display: flex;
        .supply-items, .demand-items, .settings {
            display: flex;
            flex-wrap: wrap;
            padding: 8px;
            @media screen and (max-width: 600px) {
                flex-direction: column;
            }
            flex: 1;
            .mat-chip {
                margin: 8px;
                b {
                    font-size: 18px;
                }
            }
        }
        .supply-items {
            flex-direction: row-reverse;
            //margin-right: 20px;
        }
        .demand-items {
            flex-direction: row;
        }
        .supply-items, .demand-items {
            flex-grow: 1;
        }
        .settings {
            flex-grow: 0;
            width: 60px;
        }
    }
}