<ng-container *transloco="let t">
<div>
    <div class="offer" [ngStyle]="items.length > 0 ? null : {display: 'none'}">
        <div *ngFor="let item of items" class="offer-item">
            <div class="trade-items">
                <app-tradeitem [itemid]="item.sid" [quantity]="item.supply" [demand]="false"
                    [readonly]="false"
                    class="trade-item-suply"
                    (onChange)="change('supply',$event, item)">
                </app-tradeitem>
                <app-tradeitem [itemid]="item.did" [quantity]="item.demand"
                    [readonly]="false"
                    class="trade-item-demand"
                    (onChange)="change('demand',$event, item)">
                </app-tradeitem>
            </div>
            <div class="settings">
                <button mat-icon-button color="warn"
                    title="{{t('Remove item from your offer (don\'t forget to Update Offer)')}}"
                    (click)="delete(item)">
                    <mat-icon>clear</mat-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="new-trade-item-panel" [ngStyle]="showAddItem ? null : {display: 'none'}">
        <app-tradeitemedit #tradeitemedit></app-tradeitemedit>
        <button mat-button color="accent"
            (click)="tradeitemedit.add();showAddItem = false">{{t('Add to Offer')}}</button>&nbsp;
        <button mat-button
            (click)="showAddItem = false">{{t('Cancel')}}</button>&nbsp;
    </div>
    <div>
        <button mat-button color="accent" *ngIf="!showAddItem"
            (click)="showAddItem = true">{{t('Add Item')}}</button>&nbsp;
    </div>
</div>
</ng-container>