<mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
            My Offer Info
            </mat-panel-title>
            <mat-panel-description>
            Share your location and contact info
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="offer-info">
            <mat-form-field appearance="fill">
                <mat-label>Offer location (system)</mat-label>
                <input matInput
                    maxLength="100"
                    [(ngModel)]="userinfo.location">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Nickname</mat-label>
                <input matInput
                    maxLength="100"
                    [(ngModel)]="userinfo.nickname">
            </mat-form-field>

            <mat-form-field appearance="fill" class="contact-info">
                <mat-label>Contact details (discord)</mat-label>
                <textarea matInput #contactInfo
                    placeholder="Not shared until trade request is accepted by your party"
                    maxLength="200"
                    [(ngModel)]="userinfo.contactinfo">
                </textarea>
                <mat-hint align="end">{{contactInfo.value.length}} / {{contactInfo.maxLength}}</mat-hint>
            </mat-form-field>
        </div>
        <mat-action-row>
            <button mat-button color="accent" (click)="updateinfo()">Update</button>
        </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
            Trade items
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
            <div class="offers-header">
                <div class="left-header"><span>Supply</span></div>
                <div class="settings">&nbsp;</div>
                <div class="right-header"><span>Demand</span></div>
                <div class="settings">&nbsp;</div>
            </div>
            <div class="offer">
                <div class="offer-header">
                    <div class="left-offer-info">{{userinfo.location}} : {{userinfo.nickname}}</div>
                    <div class="right-offer-info">
                    </div>
                </div>
                <div *ngFor="let item of items" class="offer-items">
                    <div class="supply-items">
                        <mat-chip-list>
                            <mat-chip color="primary">{{item.sname}}&nbsp;
                                <button mat-icon-button aria-label="Remove one" (click)="change('supply', -1, item)">
                                    <mat-icon>remove</mat-icon>
                                </button>
                                <b>{{item.supply}}</b>
                                <button mat-icon-button aria-label="Add one" (click)="change('supply', +1, item)">
                                    <mat-icon>add</mat-icon>
                                </button>
                            </mat-chip>
                        </mat-chip-list>
                    </div>
                    <div class="settings">
                        <button mat-icon-button
                            (click)="switchsides(item)" color="warn">
                            <mat-icon>multiple_stop</mat-icon>
                        </button>
                    </div>
                    <div class="demand-items">
                        <mat-chip-list>
                            <mat-chip color="primary">
                                <button mat-icon-button aria-label="Remove one" (click)="change('demand', -1, item)">
                                    <mat-icon>remove</mat-icon>
                                </button>
                                <b>{{item.demand}}</b>
                                <button mat-icon-button aria-label="Add one" (click)="change('demand', +1, item)">
                                    <mat-icon>add</mat-icon>
                                </button>
                                &nbsp;{{item.dname}}
                            </mat-chip>
                        </mat-chip-list>
                    </div>
                    <div class="settings">
                        <button mat-icon-button
                            (click)="delete(item)" color="warn">
                            <mat-icon>clear</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
            New item
            </mat-panel-title>
            <mat-panel-description>
            Add something to your Offer
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="added-item">
            <mat-form-field appearance="fill" class="item-name">
                <mat-label>Supply Item Name</mat-label>
                <input matInput [(ngModel)]="addeditem.sname">
            </mat-form-field>

            <mat-form-field appearance="fill" class="item-code">
                <mat-label>Supply Item Code</mat-label>
                <input matInput [(ngModel)]="addeditem.sid">
            </mat-form-field>
            <div>
                <mat-form-field appearance="fill" class="item-stock">
                    <mat-label>Supply Item Stock</mat-label>
                    <input matInput type="number" min="0" max="1000" step="1"
                        oninput="validity.valid||(value='0');"
                        [(ngModel)]="addeditem.sstock">
                </mat-form-field>

                <mat-form-field appearance="fill" class="item-stock">
                    <mat-label>Supply</mat-label>
                    <input matInput type="number" min="0" max="1000" step="1"
                        oninput="validity.valid||(value='0');"
                        [(ngModel)]="addeditem.supply">
                </mat-form-field>
            </div>
            <mat-form-field appearance="fill" class="item-name">
                <mat-label>Demand Item Name</mat-label>
                <input matInput [(ngModel)]="addeditem.dname">
            </mat-form-field>

            <mat-form-field appearance="fill" class="item-code">
                <mat-label>Demand Item Code</mat-label>
                <input matInput [(ngModel)]="addeditem.did">
            </mat-form-field>
            <div>
                <mat-form-field appearance="fill" class="item-stock">
                    <mat-label>Demand Item Stock</mat-label>
                    <input matInput type="number" min="0" max="1000" step="1"
                        oninput="validity.valid||(value='0');"
                        [(ngModel)]="addeditem.dstock">
                </mat-form-field>

                <mat-form-field appearance="fill" class="item-stock">
                    <mat-label>Demand</mat-label>
                    <input matInput type="number" min="0" max="1000" step="1"
                        oninput="validity.valid||(value='0');"
                        [(ngModel)]="addeditem.demand">
                </mat-form-field>
            </div>
        </div>
        <mat-action-row>
            <button mat-button color="accent" (click)="add()">Add Item</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
