table {
    width: 100%;
}
.mat-form-field {
    margin-right: 8px;
}
.mat-column-settings {
    width: 32px;
}
.mat-column-stock, .mat-column-demand, .mat-column-supply {
    width: 120px;
    text-align: center;
}

