<h2 mat-dialog-title *ngIf="this.offer.offerId.length > 0">{{ 'Chat with' | transloco }}:&nbsp;{{ offer.info.nickname}}
  <button mat-icon-button title="{{'Copy nickname to clipboard' | transloco}}" cdkCopyToClipboard="{{offer.info.nickname}}">
    <mat-icon>content_copy</mat-icon></button>
</h2>
<h2 mat-dialog-title *ngIf="this.offer.offerId.length === 0">{{'Offer dropped'  | transloco}}</h2>
<mat-dialog-content class="mat-typography" #chatView>
  <div *ngFor="let message of messages" class="{{ message.inbound ? 'chat-in' : 'chat-out'}}">
    <span class="chat-message-text">{{ message.text }}</span>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <mat-form-field appearance="outline" class="contact-info" style="width: 100%ß">
        <mat-label>{{'Message text' | transloco}}</mat-label>
        <textarea matInput #contactInfo
            (keyup.enter)="sendMessage()"
            placeholder="{{'Dont share real name or any other sensitive information!' | transloco}}"
            maxLength="200"
            [(ngModel)]="message">
        </textarea>
        <mat-hint align="end">{{contactInfo.value.length}} / {{contactInfo.maxLength}}</mat-hint>
    </mat-form-field>
</mat-dialog-actions>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>{{'Close' | transloco}}</button>
  <button mat-button cdkFocusInitial
    *ngIf="this.offer.offerId.length > 0"
    color="{{ canSend && connected ? 'accent' : '' }}"
    (click)="sendMessage()">{{'Send' | transloco}}</button>
</mat-dialog-actions>