<ng-container *transloco="let t">
<div class="edit-item">
    <form>
        <mat-form-field class="item-code" appearance="outline">
            <mat-label>{{t('Supply Item')}}</mat-label>
            <input type="text" matInput [formControl]="sidControl" [matAutocomplete]="auto1">
            <mat-icon matPrefix>outbox</mat-icon>
            <mat-autocomplete #auto1="matAutocomplete" [displayWith]="displayFn"
              (optionSelected)="sidSelected($event)">
              <mat-option *ngFor="let option of sidFilteredOptions | async" [value]="option">
                {{t(option)}}
              </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="item-code" appearance="outline">
            <mat-label>{{t('Demand Item')}}</mat-label>
            <mat-icon matPrefix>move_to_inbox</mat-icon>
            <input type="text" matInput [formControl]="didControl" [matAutocomplete]="auto2">
            <mat-autocomplete #auto2="matAutocomplete" [displayWith]="displayFn"
              (optionSelected)="didSelected($event)">
              <mat-option *ngFor="let option of didFilteredOptions | async" [value]="option">
                {{t(option)}}
              </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form>
</div>
<button mat-button color="accent"
  *ngIf="item.tradeid === -1"
  (click)="add()">{{t('Add to Offer')}}</button>&nbsp;
<button mat-button color="accent"
  *ngIf="item.tradeid !== -1"
  (click)="save()">{{t('Save')}}</button>&nbsp;
<button mat-button
  (click)="onClose.next()">{{t('Cancel')}}</button>&nbsp;

</ng-container>