<div class="added-item">
    <mat-form-field appearance="fill" class="item-name">
        <mat-label>Supply Item Name</mat-label>
        <input matInput [(ngModel)]="addeditem.sname">
    </mat-form-field>

    <mat-form-field appearance="fill" class="item-code">
        <mat-label>Supply Item Code</mat-label>
        <input matInput [(ngModel)]="addeditem.sid">
    </mat-form-field>
    <div>
        <mat-form-field appearance="fill" class="item-stock">
            <mat-label>Supply Item Stock</mat-label>
            <input matInput type="number" min="0" max="1000" step="1"
                oninput="validity.valid||(value='0');"
                [(ngModel)]="addeditem.sstock">
        </mat-form-field>

        <mat-form-field appearance="fill" class="item-stock">
            <mat-label>Supply</mat-label>
            <input matInput type="number" min="0" max="1000" step="1"
                oninput="validity.valid||(value='0');"
                [(ngModel)]="addeditem.supply">
        </mat-form-field>
    </div>
    <mat-form-field appearance="fill" class="item-name">
        <mat-label>Demand Item Name</mat-label>
        <input matInput [(ngModel)]="addeditem.dname">
    </mat-form-field>

    <mat-form-field appearance="fill" class="item-code">
        <mat-label>Demand Item Code</mat-label>
        <input matInput [(ngModel)]="addeditem.did">
    </mat-form-field>
    <div>
        <mat-form-field appearance="fill" class="item-stock">
            <mat-label>Demand Item Stock</mat-label>
            <input matInput type="number" min="0" max="1000" step="1"
                oninput="validity.valid||(value='0');"
                [(ngModel)]="addeditem.dstock">
        </mat-form-field>

        <mat-form-field appearance="fill" class="item-stock">
            <mat-label>Demand</mat-label>
            <input matInput type="number" min="0" max="1000" step="1"
                oninput="validity.valid||(value='0');"
                [(ngModel)]="addeditem.demand">
        </mat-form-field>
    </div>
</div>