<ng-container *transloco="let t">
<mat-accordion class="example-headers-align" multi>
    <!-- My Offer Info -->
    <mat-expansion-panel
        [expanded]="panelState('info')"
        (opened)="setPanelState('info', true)"
        (closed)="setPanelState('info', false)">
        <mat-expansion-panel-header>
            <mat-panel-title>{{t('My Offer Info')}}</mat-panel-title>
            <mat-panel-description>{{t('Share your location and contact info')}}</mat-panel-description>
        </mat-expansion-panel-header>

        <app-myinfoedit #myinfoedit></app-myinfoedit>

        <mat-action-row>
            <button mat-button color="accent"
                (click)="myinfoedit.updateinfo();tradeitemspanel.expanded=true;">{{t('Save')}}</button>
        </mat-action-row>
    </mat-expansion-panel>
    <!-- Trade items -->
    <mat-expansion-panel #tradeitemspanel
        [expanded]="panelState('items')"
        (opened)="setPanelState('items', true)"
        (closed)="setPanelState('items', false)">
        <mat-expansion-panel-header>
            <mat-panel-title>{{t('Trade items')}}</mat-panel-title>
            <mat-panel-description>{{t('Your current supply and demand')}}</mat-panel-description>
        </mat-expansion-panel-header>

        <app-mytradeitemsedit #mytradeitemsedit></app-mytradeitemsedit>
        <div class="new-trade-item-panel" [ngStyle]="showAddItem ? null : {display: 'none'}">
            <app-tradeitemedit #tradeitemedit></app-tradeitemedit>
        </div>
        <mat-action-row>
            <button mat-button color="accent" *ngIf="!showAddItem"
                (click)="showAddItem = true">{{t('Add Item')}}</button>&nbsp;
            <button mat-button color="accent" *ngIf="showAddItem"
                (click)="tradeitemedit.add();showAddItem = false">{{t('Add')}}</button>&nbsp;
            <button mat-button *ngIf="showAddItem"
                (click)="showAddItem = false">{{t('Cancel')}}</button>&nbsp;
            <app-myoffer></app-myoffer>
        </mat-action-row>

    </mat-expansion-panel>
    <!-- All offers -->
    <mat-expansion-panel
        [expanded]="panelState('offers')"
        (opened)="setPanelState('offers', true)"
        (closed)="setPanelState('offers', false)">
        <mat-expansion-panel-header>
            <mat-panel-title>{{t('All offers')}}</mat-panel-title>
            <mat-panel-description>{{t('Currently available offers')}}</mat-panel-description>
        </mat-expansion-panel-header>
        <app-offers></app-offers>
    </mat-expansion-panel>
</mat-accordion>
</ng-container>