<ng-container *transloco="let t">
<mat-accordion multi>
    <!-- My Offer Info -->
    <mat-expansion-panel
        [expanded]="panelState('info')"
        (opened)="setPanelState('info', true)"
        (closed)="setPanelState('info', false)">
        <mat-expansion-panel-header>
            <mat-panel-title>{{t('My Offer')}}</mat-panel-title>
            <mat-panel-description>{{t('Info and offer items')}}</mat-panel-description>
        </mat-expansion-panel-header>

        <app-myinfoedit #myinfoedit></app-myinfoedit>
        <app-mytradeitemsedit #mytradeitemsedit></app-mytradeitemsedit>

        <mat-action-row>
            <app-myoffer></app-myoffer>
        </mat-action-row>
    </mat-expansion-panel>
    <!-- All offers -->
    <mat-expansion-panel
        [expanded]="panelState('offers')"
        (opened)="setPanelState('offers', true)"
        (closed)="setPanelState('offers', false)">
        <mat-expansion-panel-header>
            <mat-panel-title>{{t('All offers')}}</mat-panel-title>
            <mat-panel-description>{{t('Currently available offers')}}</mat-panel-description>
        </mat-expansion-panel-header>
        <app-offers></app-offers>
    </mat-expansion-panel>
</mat-accordion>
</ng-container>