<mat-accordion class="example-headers-align" multi>
    <!-- My Offer Info -->
    <mat-expansion-panel
        [expanded]="panelState('info')"
        (opened)="setPanelState('info', true)"
        (closed)="setPanelState('info', false)">
        <mat-expansion-panel-header>
            <mat-panel-title>My Offer Info</mat-panel-title>
            <mat-panel-description>Share your location and contact info</mat-panel-description>
        </mat-expansion-panel-header>

        <app-myinfoedit #myinfoedit></app-myinfoedit>

        <mat-action-row>
            <button mat-button color="accent"
                (click)="myinfoedit.updateinfo();tradeitemspanel.expanded=true;">Save</button>
        </mat-action-row>
    </mat-expansion-panel>
    <!-- New item -->
    <mat-expansion-panel
        [expanded]="panelState('additem')"
        (opened)="setPanelState('additem', true)"
        (closed)="setPanelState('additem', false)">
        <mat-expansion-panel-header>
            <mat-panel-title>New item</mat-panel-title>
            <mat-panel-description>Add something to your Offer</mat-panel-description>
        </mat-expansion-panel-header>

        <app-tradeitemedit #tradeitemedit></app-tradeitemedit>

        <mat-action-row>
            <button mat-button color="accent"
                (click)="tradeitemedit.add();tradeitemspanel.expanded=true;">Add Item</button>
        </mat-action-row>
    </mat-expansion-panel>
    <!-- Trade items -->
    <mat-expansion-panel #tradeitemspanel
        [expanded]="panelState('items')"
        (opened)="setPanelState('items', true)"
        (closed)="setPanelState('items', false)">
        <mat-expansion-panel-header>
            <mat-panel-title>Trade items</mat-panel-title>
            <mat-panel-description>Your current supply and demand</mat-panel-description>
        </mat-expansion-panel-header>

        <app-mytradeitemsedit #mytradeitemsedit></app-mytradeitemsedit>

        <mat-action-row>
            <app-myoffer></app-myoffer>
        </mat-action-row>

    </mat-expansion-panel>
    <!-- All offers -->
    <mat-expansion-panel
        [expanded]="panelState('offers')"
        (opened)="setPanelState('offers', true)"
        (closed)="setPanelState('offers', false)">
        <mat-expansion-panel-header>
            <mat-panel-title>All offers</mat-panel-title>
            <mat-panel-description>Currently available offers</mat-panel-description>
        </mat-expansion-panel-header>
        <app-offers></app-offers>
    </mat-expansion-panel>
</mat-accordion>
