/* material components */

.mat-expansion-panel-header-title {
    font-size: 18px;
}
.mat-form-field {
    margin-right: 8px;
}

/* utilities */
.basic-container {
    padding: 30px;
}
.toolbar-spacer {
    flex: 1 1 auto;
}

/* dirty fix for gap between app toolbar and inner toolbars */
.mat-sidenav-container {
    @media screen and (max-width: 600px) {
        margin-top: 0px !important;
    }
}
.mat-toolbar, .mat-toolbar-row, .mat-toolbar-single-row {
    @media screen and (max-width: 600px) {
        height: 56px !important;
    }
}