<ng-container *transloco="let t">
<div class="offer-info">

    <mat-form-field appearance="outline">
        <mat-label>{{t('Nickname')}}</mat-label>
        <input matInput
            maxLength="100"
            [(ngModel)]="userinfo.nickname">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>{{t('Offer location (system)')}}</mat-label>
        <input matInput
            maxLength="100"
            [(ngModel)]="userinfo.location">
    </mat-form-field>

</div>
</ng-container>